---
const { name, desc, demo, repo } = Astro.props;
---

<div
    class="m-2 p-4 border border-zinc-200 dark:border-zinc-800 rounded-xl flex-grow w-60 bg-zinc-50 dark:bg-zinc-800 overflow-hidden"
>
    <a
        href={repo}
        class="underline decoration-2 underline-offset-4 decoration-transparent hover:decoration-zinc-900 hover:dark:decoration-white transition duration-300 delay-50 ease-in"
    >
        <h1 class="p-1 text-xl">{name}</h1>
    </a>
    <p class="p-1">{desc}</p>
    <section class="flex">
        {
            demo && (
                <a
                    href={demo}
                    class="m-1 px-2 py-1 bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 rounded-xl dark:border-zinc-800 hover:border-zinc-900 hover:dark:border-zinc-100 no-underline transition duration-300 ease-in"
                >
                    Demo
                </a>
            )
        }
        <a
            href={`https://github.com/commitsovercoffee/${repo}`}
            class="px-2 py-1 m-1 bg-zinc-100 dark:bg-zinc-900 border-2 border-zinc-200 rounded-xl dark:border-zinc-800 hover:border-zinc-900 hover:dark:border-zinc-100 no-underline transition duration-300 ease-in"
            >Source</a
        >
    </section>
</div>
